.btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  
.btn-facebook :hover {
    color: #eee;
}

.login-page {
    position: fixed;
    z-index: 10;
    transition: 1s all;
}

.background-full {
    position: fixed;
    z-index: -1;
    width: 140%;
    height: 140%;
    top: -20%;
    left: -20%;
}

.background-full > img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    top: 0px;
    transition: 0.5s opacity;
}


/*---------- LOGO -----------------*/

.page-logo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    transition: 1s all;
}

.page-logo > div {
    position: absolute;
    background: -webkit-linear-gradient(110deg, #09203f  60%, #537895 60%);
    width: 100%; 
    height: 100%;
    z-index: 3;
}

.page-logo > canvas {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.page-logo > img {
    opacity: 0.02;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*-----------INDEX----------*/
/*-----------------header*/
body{
    background-color:rgb(255, 255, 255);
    width: 98%;
}
/*----------------------------------Text*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
.word {
  text-align: center;
  margin-top:70px;
  color: white;
  font: 700 normal 3em/1.5 'Montserrat', sans-serif;
  text-shadow: 1px 2px #288ce3, 2px 4px #288ce3, 3px 6px #288ce3, 4px 8px #288ce3;
}
/*----------------------------------------Box search*/
.search {
  position: absolute;
  top: 55%;
  left: 40%;
  margin-left: -16rem;
  margin-top: -3rem;
  width: 50rem;
  height: 6rem;
}
.search__border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 68%;
  border: 0.6rem solid #fff;
  border-radius: 10rem;
  transform: translate(-50%, -50%);
  transition: width 0.4s 0.4s;
}
#trigger:checked ~ .search__border {
  transition: width 0.4s 0.2s;
  width: 100%;
}
#trigger:checked ~ .search__border:after {
  width: 0;
  transition: width 0.2s cubic-bezier(0.42, -0.7, 0.62, 1.25);
}
.search__border:after {
  content: "";
  position: absolute;
  bottom: -1.9rem;
  right: -1.9rem;
  width: 2rem;
  height: 0.6rem;
  background: #fff;
  border-radius: 0.6rem;
  transform-origin: 100% 50%;
  transform: rotate(225deg) translateX(3rem);
  transition: width 0.2s 0.8s;
}
.search__input {
  position: relative;
  width:45rem;
  height: 6rem;
  padding: 0.9rem 0 0.9rem 2.4rem;
  background: transparent;
  outline: none;
  border: none;
  font-size: 2.4rem;
  font: 700 normal 1.5em/1.5 'Montserrat', sans-serif;
  color: #fff;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}
#trigger:checked ~ .search__input {
  opacity: 1;
  z-index: auto;
  transition: opacity 0.2s 0.6s;
}
.search__checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  z-index: -10;
}
.search__label-init {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 13.12rem;
  width: 50rem;
  height: 6.4rem;
  cursor: pointer;
}
#trigger:checked ~ .search__label-init {
  transform: scale(0);
}
.search__label-active {
  z-index: 3;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transform: scale(0);
}
#trigger:checked ~ .search__label-active {
  transition: transform 0 0.6s;
  transform: scale(1);
}
.search__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: -1;
}
#trigger:checked ~ .search__close {
  z-index: auto;
}
#trigger:checked ~ .search__close:before {
  transform: rotate(-45deg);
  opacity: 1;
  transition: transform 0.2s 0.6s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.6s;
}
#trigger:checked ~ .search__close:after {
  transform: rotate(45deg);
  opacity: 1;
  transition: transform 0.2s 0.8s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.8s;
}
.search__close:before, .search__close:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 100%;
  height: 0.6rem;
  background: #fff;
  border-radius: 0.5rem;
  opacity: 0;
}
.search__close:before {
  transform: rotate(-45deg) translateX(2rem);
  transition: transform 0.2s, opacity 0.1s 0.1s;
}
.search__close:after {
  transform: rotate(45deg) translateX(2rem);
  transition: transform 0.2s 0.2s, opacity 0.1s 0.3s;
}

/*---------------------------------------Background*/
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*--------------------------------------dropdow menu*/
#main {
  font-family: 'Open Sans', sans-serif;
	color: white;
  position: relative;
  list-style: none;
  background: #1bc46a;
  font-weight: 400;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 50px auto;
}
#main li {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 5;
  min-width: 120px;
}
li {
  margin: 0;
}
.drop {
  opacity: 0.7;
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 48px;
}
.drop li:hover{
  background-color: #fff;
  opacity: 0.5;
}
.drop div {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  -ms-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  position: relative;
}
.drop li {
  display: block;
  padding: 0;
  width: 100%;
  background: #3e8760 !important;
}
#marker {
  height: 6px;
  background: #3e8760 !important;
  position: absolute;
  bottom: 0;
  width: 120px;
  z-index: 2;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
#main li:nth-child(1):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(0px0);
  -moz-transform: translate(0px0);
  -ms-transform: translate(0px0);
  transform: translate(0px0);
}
#main li:nth-child(2):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(120px0);
  -moz-transform: translate(120px0);
  -ms-transform: translate(120px0);
  transform: translate(120px0);
}
#main li:nth-child(3):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(240px0);
  -moz-transform: translate(240px0);
  -ms-transform: translate(240px0);
  transform: translate(240px0);
}
#main li:nth-child(4):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(360px0);
  -moz-transform: translate(360px0);
  -ms-transform: translate(360px0);
  transform: translate(360px0);
}

/*---------------------------------------------Slide profile*/
.NewProfile{
    padding-bottom: 20px;
    padding-top: 600px;
}
.NewProfile a{
    text-decoration: oldlace;
    color: rgb(255, 255, 255);
}
.carousel-caption {
  width: 226px;
  height: 226px;
}
.overlay {
  top:20px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: 100%;
  left: -7px;
  right: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  width: 226px;
  height:0;
  transition: .5s ease;
  opacity: 0.4;
}

.carousel-caption:hover .overlay {
  bottom: 0;
  height: 226px;
}

.text {
  margin-top:10px ;
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
h5{
    z-index: 0;
}
.dropdown-menu a{
    color: rgb(0, 0, 0);
}
.dropdown-menu a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.row img{
    overflow: hidden;
    width:226px;
    height:226px;
    border-radius: 50%;
}
/*main*/
.main{
}
/*Button new profile*/
.btn-info{
       margin-top: 20px;
}
.block {
    text-align: center;
}
.hovicon {
    display: inline-block;
    font-size: 15px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}
.hovicon.small {
    font-size: 20px;
    line-height:45px;
    width:45px;
    height:45px;
    margin:7px;
}
.hovicon.mini {
    font-size: 15px;
    line-height:32px;
    width:30px;
    height:30px;
    margin:7px;
}
.hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 15px;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.hovicon.effect-1 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
.hovicon.effect-1.sub-b:hover {
    background: rgba(255, 255, 255, 1);
    color: #000000;
}
.hovicon.effect-1.sub-b:hover i {
    color: #000000;
}
.hovicon.effect-1.sub-b:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.hovicon.effect-1.sub-b:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
